body {
    background: #FFE5D9; /* Soft Peach */


    font-family: Arial, sans-serif;
}

h1 {
    color: #2C3E50; /* Soft White */
    font-weight: bold;
    font-family:"lora",sans-seif; 
    font-size: 40px; 
    font-weight: 700; 
    padding-top: 20px; 
    letter-spacing: 1.5px;
    text-align:center;
}

.subtitle{
    text-align:center;
    font-size:19px;
}
h2{
    font-size:26px;
    font-family:"lora",sans-seif; 
    color: #2C3E50;
    margin-bottom: 12px;
}
p{
        font-size:19px;
        font-family: "lora";
        
        line-height: 1.6;
        
    }
    

    img {
        position: absolute;
        top: 20px;
        right: 50px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }
    
    img:hover {
        transform: scale(1.2); /* Zoom effect */
    }
    
    h3{
    font-size:26px;
    font-family:"lora",sans-seif; 
    color: #2C3E50;
    margin-bottom: 12px;
    }
    .container ul{
        font-size:19px;
        font-family:"lora";

    }
   
